  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Rajdhani&display=swap');

  *{
    font-family: 'Rajdhani', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }



header{
  background-image: url(../img/design1_image1.jpg);
  width: 100%;
}

 h1{
    width: 100%;
    font-style: italic;
    display: block;
    font-size: 50px;
}

h2{
    margin-top: 30px;
    width: 100%;
    color: black;
    position: relative;
    display: block;
    text-align: center;
}

h3{
  font-weight: bold;
  font-style: italic;
}

h4{
  font-weight: normal;
  width: 1000px;
  margin-bottom: 20px;
}

article{
  margin-left: 500px;
  margin-right: 500px;
}

body{
  background-color: rgb(236, 250, 255);
}

dt{
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

dd{
  text-indent: 20px;
}

ol li::marker{
  font-weight: bold;
}

fieldset{
  padding: 10px;
  border: none;
}

.container1{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 370px;
  margin-top: 20px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.logo{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.up{
  background-color: rgb(236, 250, 255);
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navegador{
  background-color: rgb(236, 250, 255);
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 500px;
  margin-right: 500px;
  display: block;
  border: 3px solid black;
  text-align: center;
  justify-content: space-between;
}

.nav-btn{
  background-color: rgb(161, 192, 246);
  margin-left: 20px;
  margin-right: 20px;
}

.italic{
  font-style: italic;
}

.sections{
  top: 350px;
  width: 100%;
  height: 220px;
  background-color: rgb(236, 250, 255);
  /* background-image: url(../img/hockey1.jpg);; */
}

.active{
  color: black;
  text-decoration: none;
}

.finalImage{
  margin-top: 200px;
  margin-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.all{
  background-color: rgb(236, 250, 255);
}

.lista{
    margin-left: 500px;
}

.tabla{
  margin-top: -30px;
  margin-left: -60px;
  margin-bottom: 30px;
  border-collapse: separate;
  border-spacing: 70px 30px;
}

.rulesList{
  margin-top: 70px;
  margin-left: 430px;
  margin-right: 400px;
  margin-bottom: 30px;
}

.contacts{
  display: flex;
  margin-top: 20px;
  width: 500px;
}

.ultimaLista{
  text-indent: 20px;
  list-style-position: inside;
}

.ulCircle{
  list-style-type: circle;
}

label{
  font-weight: bold;
}

/* .registrationForm{
  display: flex;
  flex-direction: column;
  text-align: center;
} */

.personalData{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.firstLine{
  display: flex;
  width: 30%;
  justify-content: space-between;
  /* text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  place-content: middle; */
}

.secondLine{
  display: flex;
  width: 30%;
  justify-content: start;
}

.thirdLine{
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.fourthLine{
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.fifthLine{
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.school{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.schools{
  display: flex;
  align-items: start;
  gap: 10px;
  width: 100%;
  border: none;
  flex-direction: row;
  justify-content: center;
}

.schools >div {
  display: flex;
  flex-direction: column;
}

.positions{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  border: none;
  justify-content: center;
  margin-bottom: 20px;
}

.positions >div{
  display: flex;
  flex-direction: column;
}

.positions >div input{
  margin-right: 10px;
}

.uniformSize{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  border: none;
  justify-content: center;
  margin-bottom: 20px;
}

.uniformSize >div{
  display: flex;
  flex-direction: column;
}

.uniformSize >div input{
  margin-right: 10px;
}

.permission{
  background-color: rgb(236, 250, 255);
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 300px;
  margin-right: 300px;
  display: block;
  text-align: justify;
  justify-content: space-between;
}

.permission >dl>dt{
  text-align: center;
}

.signDate{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.finalButtons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.maps{
  display: flex;
  width: 100%;
  flex-direction: row;
}

iframe{
  margin: 10px 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px 10px gray;
  padding: 1em;
}

.title{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  border: none;
  justify-content: center;
}

.back{
  display: flex;
  text-align: center;
}

#design1{
    display: none;
}

#design2{
     display: none;
}

#design3{
    display: inline-block;
    position: relative;
    width: 900px;
    height: 400px;
}

.design4{
  position: relative;
  width: 500px;
  height: 200px;
}

#design5{
  position: relative;
  top: 260px;
  left: 320px;
  width: 800px;
  height: 200px;
}

#logo{
  justify-content: center;
  width: 300px;
}

#btn2{
    visibility: hidden;
    display: none;
}

#rules{
  font-weight: bold;
}

#rulesSubtitle{
    font-style: normal;
    margin-top: 30px;
    width: 100%;
    color: black;
    position: relative;
    display: block;
    text-align: center;
}

#containerRules{
  margin-left: 400px;
}

#containerIndex{
  margin-left: 400px;
}

#containerAbout{
  margin-top: 800px;
  margin-left: 400px;
}

#containerContact{
  margin-left: 400px;
}

#containerGame{
  margin-left: 400px;
}

