
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Rajdhani&display=swap');

  *{
    font-family: 'Rajdhani', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

.header{
  background-image: url(../img/design1_image1.jpg);
  width: 100%;
}

 h1{
    width: 100%;
    font-style: italic;
    display: block;
    font-size: 50px;
}

h2{
    margin-top: 30px;
    width: 100%;
    color: black;
    position: relative;
    display: block;
    text-align: center;
}

h3{
  font-weight: bold;
  font-style: italic;
}

h4{
  font-weight: normal;
  width: 1000px;
  margin-bottom: 20px;
}

article{
  margin-left: 500px;
  margin-right: 500px;
}

body{
  background-color: rgb(236, 250, 255);
}

dt{
  font-style: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

dd{
  text-indent: 20px;
}

.container1{
  font-size: 50px;
  font-style: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 370px;
  margin-top: 20px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.logo{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.up{
  background-color: rgb(236, 250, 255);
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navegador{
  background-color: rgb(236, 250, 255);
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 500px;
  margin-right: 500px;
  display: block;
  position: center;
  border: 3px solid black;
  text-align: center;
  justify-content: space-between;
}

.nav-btn{
  margin-left: 20px;
  margin-right: 20px;
}

.italic{
  font-style: italic;
}

.sections{
  top: 350px;
  width: 100%;
  height: 220px;
  position: center;
  background-color: rgb(236, 250, 255);
  /* background-image: url(../img/hockey1.jpg);; */
}

.active{
  color: black;
  text-decoration: none;
}

.finalImage{
  margin-top: 200px;
  margin-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.all{
  background-color: rgb(236, 250, 255);
}

.lista{
    margin-left: 500px;
}

.tabla{
  margin-top: -30px;
  margin-left: -60px;
  margin-bottom: 30px;
  border-collapse: separate;
  border-spacing: 70px 30px;
}

.rulesList{
  margin-top: 70px;
  margin-left: 430px;
  margin-right: 400px;
  margin-bottom: 30px;
}

.contacts{
  display: flex;
  margin-top: 20px;
  width: 500px;
}

.ultimaLista{
  text-indent: 20px;
}

#design1{
    display: none;
}

#design2{
     display: none;
}

#design3{
    display: inline-block;
    position: relative;
    width: 900px;
    height: 400px;
}

#design4{
  position: relative;
  top: 560px;
  left: 320px;
  width: 800px;
  height: 200px;
}

#design5{
  position: relative;
  top: 260px;
  left: 320px;
  width: 800px;
  height: 200px;
}

#logo{
  justify-content: center;
  width: 300px;
}

#btn2{
    visibility: hidden;
    display: none;
}

#rules{
  font-style: bold;
}

#rulesSubtitle{
    font-style: normal;
    margin-top: 30px;
    width: 100%;
    color: black;
    position: relative;
    display: block;
    text-align: center; 
}

#containerRules{
  margin-left: 400px;
}

#containerIndex{
  margin-left: 400px;
}

#containerAbout{
  margin-left: 400px;
}

#containerContact{
  margin-left: 400px;
}
