
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');


*{
    font-family: 'Comic Neue', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    position: relative;
    top: 100px;
    left: 300px; 
    height: 30px;
    display: inline-block;
    font-size: 50px;
    position: absolute;
}

h2{
    position: relative;
    top: 100px;
    left: 300px; 
    height: 30px;
    width: 900px;
    color: white;
    background-color: black;
    text-align: center;
    display: block;
    
}

h3{
    font-weight: bold;
}

h4{
    font-weight: normal;
    margin-left: 10px;
}

p{
    font-weight: normal;
    margin-left: 10px;
    width: 700px;
}

a{
   text-decoration: underline;
   color: blue; 
   margin-bottom: 50px;
   display: block;
}

article{
    margin-bottom: 25px;
    display: block;
}

#italic{
    font-style: italic;
}

#design1{
    position: relative;
    top: 100px;
    left: 300px; 
    width: 900px;
    height: 200px;
}

#design2{
    display: none;
}

#logo{
    margin-top: -70px;
    margin-left: 100px;
    position: absolute;
    vertical-align: middle;
    padding-left: 0px;
    justify-content: right;
    width: 150px;
    
}

.active{
    color: black;
    text-decoration: none;
}

.navegador{
    position: relative;
    top: 400px;
    left: 300px; 
    display:block;
    position:absolute;
}

.sections{
    position: relative;
    top: 400px;
    left: 500px; 
    width: 500px;
    height: 300px;
    position: absolute;
}





