
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Rajdhani&display=swap');  

  *{
    font-family: 'Rajdhani', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  h1{
    font-style: italic;
    position: relative;
    top: 120px;
    left: 460px; 
    height: 35px;
    display: inline-block;
    font-size: 50px;
    position: absolute;
}

h2{
    color: black;
    position: relative;
    height: 30px;
    width: 900px;
    text-align: center;
    display: block;
    top: 190px;
    left: 100px;
}

h3{
  font-weight: bold;
  font-style: italic;
}

h4{
  font-weight: normal;
  width: 1000px;
}

.navegador{
    margin-top: 25px;
    margin-bottom: 25px;
    top: 230px;
    left: 310px; 
    display: inline-block;
    position: relative;
    border: 3px solid black;
}

#design1{
    display: none;
}

#design2{
     display: none;
}

#design3{
    position: relative;
    top: 350px;
    left: 320px; 
    width: 800px;
    height: 200px;
}

#design4{
  position: relative;
  top: 560px;
  left: 320px; 
  width: 800px;
  height: 200px;
}

#design5{
  position: relative;
  top: 260px;
  left: 320px; 
  width: 800px;
  height: 200px;
}

  #logo{
    margin-top: 75px;
    margin-left: 300px;
    position: absolute;
    vertical-align: middle;
    padding-left: 0px;
    justify-content: right;
    width: 150px;
}

#btn1{
    visibility: hidden;
    display: none;
}

#btn2{
    margin-left: 120px;
    margin-right: 100px;
}

#btn3{
    margin-left: 120px;
    margin-right: 100px;
}

#btn4{
    margin-left: 120px;
    margin-right: 100px;
}

.italic{
  font-style: italic;
}

.sections{
  position: relative;
  top: 320px;
  left: 320px;
  width: 500px;
  height: 300px;
  position: absolute;
}
